.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background: rgb(87,35,141);
  background: linear-gradient(0deg, rgba(87,35,141,1) 0%, rgba(164,20,194,1) 100%);
  align-items: center;
}

.NoteBox{
  border-top-left-radius: 35px;
  background-color: #202124;
  width: calc(100vw - 300px);
  height: 96%;
  display: flex;
  flex-direction: column;
  padding: 60px 60px 0px 60px;
}

.KanbanInfosBox{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TitleInfosBox{
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  color: white;
}

.TitleInfosBox > i{
  margin-left: 11px;
  font-size: 2em;
  color: gray;
  cursor: pointer;
}

.TitleInfosBox > i:hover{
  color: white;
}

.imgInfosBox{
  cursor: pointer;
  height: 57px;
  border-radius: 57px;
  background: linear-gradient(45deg, rgba(87,35,141,1) 0%, rgba(164,20,194,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  transition: 0.2s ease;
}

.imgInfosBox > img{
  width: 49px;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.imgInfosBox > i{
  font-size: 2em;
  margin-left: 9px;
  margin-right: 9px;
}

.imgInfosBox:hover{
  opacity: .7;
}

.NoteArea{
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
}

.NoteList{
  width: 33%;
}

.notesBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NoteArea::-webkit-scrollbar {
  width: 20px;
}
.NoteArea::-webkit-scrollbar-track {
  background: #202124;
}

.NoteArea::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
}

@media only screen and (max-width: 1366px) {
  .NoteBox{
    width: calc(100vw - 220px);
    padding: 40px 40px 0px 40px;
  }
}